<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>
SetEnvIf Origin "^http(s)?://(.+\.)?(tongjo\.com|tongjo\.me)$" origin_is=$0 
Header always set Access-Control-Allow-Origin %{origin_is}e env=origin_is
#Header add Access-Control-Allow-Origin: http://www.tongjo.com

    Header add Access-Control-Allow-Methods: "GET,PUT,DELETE,POST,OPTIONS"
    Header add Access-Control-Allow-Headers: Content-Type
    Header add Access-Control-Allow-Credentials: true
    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    
</IfModule>
